/* Scss Document */
.blogMain_tag {
  margin: 20px 0;
}

.blogMain_tag ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.blogMain_tag ul li::after {
  content: ' / ';
  display: inline;
}

.blogMain_tag ul li:last-of-type::after {
  content: '';
  display: none;
}

.blogMain_share {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.blogMain_share a {
  display: block;
  margin-right: 20px;
}

.blogMain_share a:last-of-type {
  margin-right: 0;
}

.blogMain_share a img {
  width: 110px;
  height: auto;
}

.blogMain_image {
  width: 100%;
  height: auto;
}

.blogMain p {
  margin: 20px 0;
}

.blogMain p a {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .blogMain_tag {
    margin: 40px 0 20px;
  }
  .blogMain p {
    margin: 30px 0;
  }
}
