/* Scss Document */
.indexHeader {
  position: relative;
  width: 100%;
  height: 210px;
}

.indexHeader_square {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #E8E8E8;
  width: 80%;
  height: 160px;
}

.indexHeader p {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .indexHeader {
    max-width: 1000px;
    margin: 140px auto 0;
    height: 450px;
    /*      p {
        left: -120px;
}*/
  }
  .indexHeader_square {
    height: 380px;
    width: calc(100% - 120px);
  }
}
