/* Scss Document */
.stripeLine {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.stripeLine.headerFix {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
}

.stripeLine div {
  width: calc(100% / 7);
  height: 100%;
}

.stripeLine div:nth-child(1) {
  background-color: #D0D0D0;
}

.stripeLine div:nth-child(2) {
  background-color: #EAD590;
}

.stripeLine div:nth-child(3) {
  background-color: #566581;
}

.stripeLine div:nth-child(4) {
  background-color: #AC5676;
}

.stripeLine div:nth-child(5) {
  background-color: #ADCB4B;
}

.stripeLine div:nth-child(6) {
  background-color: #7B7B7B;
}

.stripeLine div:nth-child(7) {
  background-color: #4CAC7C;
}

.mainWrap {
  margin: 30px 20px 50px;
}

.mainFlex li {
  margin-bottom: 30px;
}

.mainFlex li:last-of-type {
  margin-bottom: 0;
}

.mainFlex li a {
  display: block;
}

.mainFlex li a:hover {
  opacity: .8;
}

.mainFlex li a dl dt img {
  width: 100%;
  height: auto;
}

.mainFlex li a dl dd {
  margin: 10px 0;
  line-height: 1;
}

.mainFlex li a dl dd:first-of-type {
  margin: 0;
  position: relative;
  top: -60px;
  height: 40px;
  line-height: 40px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 1px #2E2E2E solid;
  border-right: 1px #2E2E2E solid;
  border-bottom: 1px #2E2E2E solid;
  text-align: center;
}

.mainFlex li a dl dd:nth-child(3) {
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .mainWrap {
    margin: 20px auto 80px;
    max-width: 1000px;
  }
  .mainWrap p {
    margin-bottom: 40px;
  }
  .mainFlex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .mainFlex li {
    width: calc((100% - 100px) / 3);
    margin-bottom: 50px;
  }
  .mainFlex li a dl dt img {
    height: 180px;
    object-fit: cover;
    object-position: top;
  }
  .mainFlex li a dl dd:first-of-type {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    top: -40px;
  }
}
