.hamburger {
  border: 1px #7B7B7B solid;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  cursor: pointer;
  transition: .2s;
  margin: 15px 15px 15px 10px;
}

.hamburger span, .hamburger::before, .hamburger::after {
  position: relative;
  display: block;
  content: '';
  margin: 0 auto;
  top: 16px;
  width: 20px;
  height: 2px;
  background-color: #7B7B7B;
  transition: .2s;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(6px);
}

.hamburger.open span {
  opacity: 0;
}

.hamburger.open::before {
  transform: rotateZ(45deg) translateY(2px);
  width: 30px;
}

.hamburger.open::after {
  transform: rotateZ(-45deg) translateY(-2px);
  width: 30px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav > a {
  display: none;
}

nav p {
  margin: 0;
}

nav ul {
  position: fixed;
  right: -300px;
  top: 80px;
  height: calc(100% - 80px);
  width: 300px;
  background-color: #FFFFFF;
  transition: .2s;
  padding-top: 40px;
}

nav ul.open {
  right: 0;
}

nav ul li {
  line-height: 40px;
}

nav ul li a {
  display: block;
  padding-left: 40px;
}

nav ul li a:hover {
  background-color: #000000;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .hamburger {
    height: 70px;
    width: 70px;
    margin: 15px 0 15px 20px;
  }
  .hamburger span, .hamburger::before, .hamburger::after {
    top: 31px;
    width: 40px;
  }
  .hamburger::before {
    transform: translateY(-12px);
  }
  .hamburger::after {
    transform: translateY(12px);
  }
  .hamburger.open::before {
    width: 50px;
  }
  .hamburger.open::after {
    width: 50px;
  }
  nav > a {
    display: block;
  }
  nav > a i {
    font-size: 30px;
    margin-right: 10px;
  }
  nav > a i.fa-twitter-square {
    color: #00ACEE;
  }
  nav > a i.fa-facebook-square {
    color: #3B5998;
  }
  nav ul {
    top: 110px;
    height: calc(100% - 110px);
  }
  nav ul li {
    line-height: 50px;
  }
}
