/* Scss Document */
@fontface {
  font-family: 'timemachine-wa';
  font-weight: 400;
  src: url("../font/timemachine-wa.woff") format("woff");
}

body {
  line-height: 1.8;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #2E2E2E;
}

a:hover {
  text-decoration: none;
  color: #2E2E2E;
}

a:active {
  color: #2E2E2E;
}

p {
  font-size: 14px;
}

nav ul li {
  font-size: 18px;
}

.indexHeader p {
  font-size: 40px;
  font-family: 'timemachine-wa';
}

.mainFlex li a dl dd:first-of-type {
  font-size: 20px;
}

.mainWrap article h2 {
  font-size: 18px;
}

.blogMain_tag ul li {
  color: #237CA3;
}

.blogMain_tag ul li a {
  color: #237CA3;
}

.blogMain_tag ul li a:hover {
  color: #66AFCE;
}

.blogMain p a {
  color: #237CA3;
}

.blogMain p a:hover {
  color: #66AFCE;
}

.contactMain form dl dt {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .indexHeader p {
    font-size: 60px;
  }
  .mainWrap article h2 {
    font-size: 24px;
  }
}
