/* Scss Document */

.stripeLine {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &.headerFix {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
  }

  div {
    width: calc(100% / 7);
    height: 100%;

    &:nth-child(1) {
      background-color: #D0D0D0;
    }

    &:nth-child(2) {
      background-color: #EAD590;
    }

    &:nth-child(3) {
      background-color: #566581;
    }

    &:nth-child(4) {
      background-color: #AC5676;
    }

    &:nth-child(5) {
      background-color: #ADCB4B;
    }

    &:nth-child(6) {
      background-color: #7B7B7B;
    }

    &:nth-child(7) {
      background-color: #4CAC7C;
    }

  }
}

.main {
  &Wrap {
    margin: 30px 20px 50px;

    > p {
      margin: 20px 0;
    }
  }

  &Flex {
    li {
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        display: block;

        &:hover {
          opacity: .8;
        }

        dl {
          dt {
            img {
              width: 100%;
              height: auto;
            }
          }
          dd {
            margin: 10px 0;
            line-height: 1;

            &:first-of-type {
              margin: 0;
              position: relative;
              top: -60px;
              height: 40px;
              line-height: 40px;
              width: 300px;
              background-color: rgba(255, 255, 255, .9);
              border-top: 1px #2E2E2E solid;
              border-right: 1px #2E2E2E solid;
              border-bottom: 1px #2E2E2E solid;
              text-align: center;
            }

            &:nth-child(3){
              margin-top: -30px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main {
    &Wrap {
      margin: 20px auto 80px;
      max-width: 1000px;

      p {
        margin-bottom: 40px;
      }
    }

    &Flex {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      li {
        width: calc((100% - 100px) / 3);
        margin-bottom: 50px;

        a {
          dl {
            dt {
              img {
                height: 180px;
                object-fit: cover;
                object-position: top;
              }
            }

            dd {
              &:first-of-type {
                border: none;
                background-color: rgba(255, 255, 255, .8);
                width: 100%;
                top: -40px;
              }
            }
          }
        }
      }
    }
  }
}
