/* Scss Document */
@fontface {
  font-family: 'timemachine-wa';
  font-weight: 400;
  src: url('../font/timemachine-wa.woff') format('woff');
}
body {
  line-height: 1.8;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #2E2E2E;

  &:hover {
    text-decoration: none;
    color: #2E2E2E;
  }

  &:active {
    color: #2E2E2E;
  }
}

p {
  font-size: 14px;
}

nav {
  ul {
    li {
      font-size: 18px;
    }
  }
}

.index {
  &Header {
    p {
      font-size: 40px;
      font-family: 'timemachine-wa';
    }
  }
}

.main {
  &Flex {
    li {
      a {
        dl {
          dd {
            &:first-of-type {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  &Wrap {
    article {
      h2 {
        font-size: 18px;
      }
    }
  }
}

.blog {
  &Main {
    &_tag {
      ul {
        li {
          color: #237CA3;

          a {
            color: #237CA3;

            &:hover {
              color: #66AFCE;
            }
          }
        }
      }
    }

    p {
      a {
        color: #237CA3;

        &:hover {
          color: #66AFCE;
        }
      }
    }
  }
}

.contact {
  &Main {
    form {
      dl {
        dt {
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .index {
    &Header {
      p {
        font-size: 60px;
      }
    }
  }

  .main {
    &Wrap {
      article {
        h2 {
          font-size: 24px;
        }
      }
    }
  }
}
