/* Scss Document */

.header {
  &Margin {
    &_index {
      margin-top: 100px;
    }

    &_other {
      margin-top: 110px;
    }

    p {
      margin-left: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &Margin {
      &_other {
        margin-top: 180px;
      }
    }
  }
}
